#root {
  width: 100vw;
  margin: 0 0;
  padding: 2rem;
}
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff00; /* Color of the scrollbar track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #AFEEEE; /* Color of the scrollbar handle */
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #40E0D0; /* Color of the scrollbar handle on hover */
}


.delete-button {
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  color: red;
}

.checkbox-container {
  position: relative;
  display: inline-block;
  margin-right: 10px; 
}

.checkbox-input {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 2.5px;
  left: 2.5px;
  height: 20px; 
  width: 20px; 
  background-color: #FFFFFF;
  border: 2px solid #2E4A62;
}

.checkbox-input:checked ~ .checkmark {
  background-color: #2E4A62;
  border: 2px solid #fff;
}

.checkbox-label {
  margin-left: 30px; 
}

@media screen and (max-width:749px){
  #root {
    width: 100vw;
    padding: 0.5rem;
  }
}